# Python bytecode
*.pyc

# Logs
*.log
nohup.out

# Virtualenv
venv/
my_env310

# Build
build/
dist/
__pycache__/

# IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Others
data/
logs/
run/
results/
ckpts/
saved_models/
config/api-config.json
test*
!macrec/*/test*

wandb/
trlx/
